@model Accountant.MVC.Models.AnualBalance

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h4>Nuevo Balance Anual</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Year" class="control-label">Año</label>
                <input type="number" required min="2010" max="2100" asp-for="Year" class="form-control" />
                <span asp-validation-for="Year" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Aceptar" class="btn btn-outline-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a type="btn" class="btn backArrow "asp-action="Index"><i class="fa fa-arrow-left"></i></a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
