@model IEnumerable<Accountant.MVC.Models.AnualBalance>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!--MUESTRA TODOS LOS AÑOS EXISTENTES-->
<h1>Balances Anuales</h1>
<hr />

<div>
    <!--Crea un nuevo año-->
    @if (Model.Count() == 0)
    {
        <div class="text-center">
            <h3>Bienvenido!</h3>
            <p><a type="button" class="btn shadow btn-outline-dark" asp-action="Create">Comenzar</a></p>
        </div>
        
    }
    else
    {
        <p><a type="button" class="btn btn-outline-dark" asp-action="Create">Nuevo Año</a></p>
        <br />
        @foreach (AnualBalance item in Model)
        {
            <!--Info general del Año-->
            <div class="card shadow-lg p-3 mb-5 bg-white rounded" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title text-center">@Html.DisplayFor(modelItem => item.Year)</h5>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Balances mensuales: @Html.DisplayFor(modelItem => item.Balances.Count)</li>
                    <li class="list-group-item">Balance: $@Html.DisplayFor(modelItem => item.AnualBalanceResult)</li>
                    @if (item.Positive)
                    {
                        <li class="list-group-item positive"><i class="fas fa-thumbs-up"></i></li>
                    }
                    else
                    {
                        <li class="list-group-item negative"><i class="fas fa-thumbs-down"></i></li>
                    }
                </ul>
                <div class="card-body">
                    <div class="text-center">
                        <!--AnualBalance/Details/{id}-->
                        <a type="button" class="btn btn-outline-primary btn-sm" asp-action="Details" asp-route-id="@item.Id">Administrar</a>

                        <!--AnualBalance/Delete/{id}-->
                        @if (item.Balances.Count == 0)
                        {
                            <a type="button" class="btn btn-outline-danger btn-sm" asp-action="Delete" asp-route-id="@item.Id">Eliminar</a>
                        }
                    </div>           
                </div>
            </div>
        }
    }

</div>


